MAB_SESSION_TOKEN=audio-toolkit-dev
MAB_HOST=127.0.0.1
MAB_PORT=49321
MAB_DATA_ROOT=.music-annotation-data
MAB_MODEL_ROOT=models
MAB_VENDOR_ROOT=vendor
MAB_CORS_ORIGIN_REGEX=https?://(localhost|127\.0\.0\.1)(:\d+)?
MAB_AUTO_LOAD_PROVIDER=laion_clap_music_htsat_base
MAB_AUTO_LOAD_DEVICE=auto
MAB_AUTO_LOAD_ALLOW_DOWNLOAD=false
